
body{
  margin: 0;
  text-align: center;
  font-family: freemono;


}

p{
  margin-bottom: 30px;
}
span{
  text-decoration: underline;
}
hr{
  margin-bottom: 80px;
  border-style: dotted none none none;
  border-width: 5px;
  width: 7%;
}
.top-container{
  background-color: #f4f6ff;
  padding-top: 100px;
  position: relative;

}
.cloudattribute{
  position: absolute;
  left: 250px;
}
.cloud2{
  position: absolute;
  right: 350px;

}

.heading1{
  font-size: 3.6rem;
  font-family: 'Euphoria Script', cursive;
  margin-bottom: 0;
  margin-top: 4.37rem;
}
.subheading1{
  font-size: 1.5rem;
  font-family: 'Strait', sans-serif;
  margin-top: 1rem;
  font-weight: 200;
}
.skill-row{
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
  margin-top: 70px;
}
.skill-image1{
  width: 20%;
  height: 20%;
  float: left;
  margin-right: 30px;
}
.skill-image2{
  width: 20%;
  height: 20%;
  float: right;
  margin-left: 30px;
}
.profile{
  width: 50%;
  margin: 30px auto 80px auto;


}
.logo-image{
  width: 20%;
  height: 20%;
  margin-top: 50px;
}
.desc-margin{
  margin-bottom: 40px;
  margin-top: 40px;
}
/*
THIS IS USED TO MAKE THE CONTENT , THAT IT DOESN'T WRAP THE OTHER CONTENT WHICH IS FLOATING

.skill-image2-desc{
  clear: right;
}

*/
