
body{
  margin: 0;
  text-align: center;



}

p{
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}
span{
  text-decoration: underline;
}
hr{
  margin-bottom: 80px;
  border-style: dotted none none none;
  border-width: 5px;
  width: 7%;
  color: #10375c;
}
.h2{
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: 'Strait', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 3px;
  color: #127681;
}
.btn{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: solid #127681;
  color: #127681;
  font-weight: bolder;
  text-decoration: none;
  transition-duration: 0.5s;
  font-family: 'Quicksand', sans-serif;
}
.btn:hover{
  background-color: #127681;
  color: white;
}
.love{
  margin-bottom: 4rem;
}
.top-container{
  background-color: #f4f6ff;
  padding-top: 100px;
  position: relative;

}
.cloudattribute{
  position: absolute;
  left: 250px;
}
.cloud2{
  position: absolute;
  right: 350px;

}

.heading1{
  font-size: 3.6rem;
  font-family: 'Euphoria Script', cursive;
  margin-bottom: 0;
  margin-top: 4.37rem;
  color: #A61C3C;
}
.heading2{
  font-size: 2.5rem;
  margin-bottom: 4rem;
  font-family: 'Arvo', serif;
  color: #127681;
}
.subheading1{
  font-size: 1.5rem;
  font-family: 'Strait', sans-serif;
  margin-top: 1rem;
  font-weight: 200;
}
.subheading2{
  margin-bottom: 3rem;
  font-family: 'Quicksand', sans-serif;
}
.skill-row{
  width: 50%;
  margin: auto;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
  margin-top: 70px;
}
.skill-image1{
  width: 20%;
  height: 20%;
  float: left;
  margin-right: 30px;
}
.skill-image2{
  width: 20%;
  height: 20%;
  float: right;
  margin-left: 30px;
}
.profile{
  width: 50%;
  margin: 30px auto 80px auto;


}
.logo-image{
  width: 20%;
  height: 20%;
  margin-top: 50px;
}
.desc-margin{
  margin-bottom: 40px;
  margin-top: 40px;
}
.contact-me{
  margin-bottom: 50px;
}
.bottom-container{
  margin-top: 80px;
  background-color: #10375c;
  position: relative;
  padding-bottom: 1px;
  padding-top: 20px;
}
.copyright{
  margin-top: 20px;
  color: white;
  font-size: 1.1rem;
}
.footer-link{
  font-weight: bold;
  color: #f3c623;
  text-decoration: none;
  margin: 20px;
  font-size: 1.2rem;
  font-family: 'Arvo', serif;
  transition-duration: 0.2s;
  position: relative;
  display: inline-block;
}
.footer-link img{
  width: 20px;
  margin-top: 1px;
  height: 20px;
  float: left;
  margin-right: 5px;

}
.footer-link:hover{
  font-weight: bold;
  color: #f3c623;
  padding: 3px;
  border: solid;
  text-decoration: none;
  margin: 14px;
  font-size: 1.2rem;
  font-family: 'Arvo', serif;
}
/*
THIS IS USED TO MAKE THE CONTENT , THAT IT DOESN'T WRAP THE OTHER CONTENT WHICH IS FLOATING

.skill-image2-desc{
  clear: right;
}

*/
